<%= form_for @ley, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :numero, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :numero, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fecha, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_field :fecha, :class => 'datetime_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :texto, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :texto, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :legislatura, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :legislatura, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                leys_path, :class => 'btn' %>
  </div>
<% end %>
