<!DOCTYPE html>
<html>
<head>
  <title>Releyendo al parlamento</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Con contenido de leyes uruguayas y busqueda de las mismas.">
  <meta name="author" content="DATA Uruguay">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Le styles -->
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="../assets/ico/favicon.png">

</head>
<body>

 <div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="brand" href="/">Releyendo al parlamento</a>
       <div class="nav-collapse collapse">
         <ul class="nav">
           <li class="active"><a href="/">Principal</a></li>
           <li><%= link_to 'Nosotr@s', page_path('about') %></li>
           <li><%= link_to 'Contacto', page_path('contacto') %></li>
         </ul>
         <%= render :partial => 'search_form' %>
       </div><!--/.nav-collapse -->
     </div>
   </div>
 </div>

 <div class="container">

<%= yield %>

 </div> <!-- /container -->

</body>
</html>
